.css-v0pjtz-MuiStack-root {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
    border-radius: 10px;
    width: 80%;
}

.css-10o2lyd-MuiStack-root {
    align-items: center;
}